APP_ENV=

# API
PORT=3000
APP_SECRET=YOLO
ALLOWED_ORIGINS=http://localhost:3000

# API Throttler
THROTTLER_LEVEL_SHORT=short
THROTTLER_LEVEL_SHORT_TTL=60000
THROTTLER_LEVEL_SHORT_LIMIT=10

THROTTLER_LEVEL_MEDIUM=medium
THROTTLER_LEVEL_MEDIUM_TTL=60000
THROTTLER_LEVEL_MEDIUM_LIMIT=100

THROTTLER_LEVEL_LONG=long
THROTTLER_LEVEL_LONG_TTL=60000
THROTTLER_LEVEL_LONG_LIMIT=1000

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=nestjs

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# LDAP
LDAP_URL=
LDAP_BIND_DN=
LDAP_BIND_CREDENTIALS=
LDAP_SEARCH_BASE=
LDAP_SEARCH_FILTER=

# Caching
CACHE_TTL=

# Log
LOG_FILE=
ERR_LOG_FILE=
ELASTICSEARCH=
ELASTICSEARCH_INDEX_PATTERN=